#index{margin:5% 15%;}
.zootopia{float:left;width:68%;padding:50px 0 0 50px;margin-left:300px;}
.profile{float:left;width:300px;margin-left:-100%;padding:50px 30px;}
p.line-en{margin:0;font-size:16px;}
p.line-cn{font-size:16px;}
.avatar{width:150px;height:150px;margin:0 auto;}
.avatar img{width:100%;height:100%;border-radius:50%;border:2px solid #666;}
.nick{text-align: center;font-size:18px;padding:10px;}
.motto{padding:10px;}
.content-index ul{padding:0;width:200px;margin:10px auto;}