/*布局调整*/
ul,ol,dl{list-style: none;}
#hero h2.motto{color:#fff;}
#hero p.purpose{color:#fff;font-size:20px;display:block;}
#intro .col-md-8 span.post-meta{display:block;line-height:12px;margin-bottom:20px;color:#000;font-size:12px; }
.col-md-8 p{text-indent:30px;}
#statement p.state{font-style:normal;font-size:18px;}
#statement p.e-mail{font-size:14px;}
.sb-slidebar .sb-menu a{text-transform:none}

/*code style*/
.code-area{border:1px solid #d4d4d4;font-size:12px;}
.code-area .code{color:#cccccc;}
.code-area .code span[class*=html-]{color:green;}
.code-area .html-note span{color:#d4d4d4;}
#intro p a.tul{text-decoration: underline;display:block;}
.code-area .html-indent{text-indent:20px;}
.code-area .text-indent-1{text-indent:20px;}
.code-area .text-indent-2{text-indent:40px;}
.code-area .text-indent-3{text-indent:60px;}
.sb-submenu ul{margin-left:-10px;}
.sb-submenu .category-list .category-list-item a{display:inline;}
.sb-submenu .category-list{margin-left:-40px;}
.category-list-count:before{content:'(';}
.category-list-count:after{content:')';}

.sb-menu li a{padding:0 5px;}
.sb-right .sb-menu li a:hover{border-left:2px solid;}
a.aHref{text-decoration:underline;color:#337ab7;}