/*布局调整*/
ul,ol,dl{list-style: none;}

#hero h2.motto{color:#fff;}
#hero p.purpose{color:#fff;font-size:20px;display:block;}
#intro .col-md-8 span.post-meta{display:block;line-height:12px;margin-bottom:20px;color:#000;font-size:12px; }
.col-md-8 p{text-indent:30px;}
.col-md-8 p.text-indent-0{text-indent:0;}
#statement p.state{font-style:normal;font-size:18px;}
#statement p.e-mail{font-size:14px;}
.sb-slidebar .sb-menu a{text-transform:none}

/*code style*/
.code-area{border:1px solid #d4d4d4;font-size:12px;}
.code-area .code{color:#666666;overflow-x:auto;white-space: nowrap;}
.code-area .code span[class*=html-]{color:green;}
.code-area .html-note span{color:#d4d4d4;}
#intro{padding-top:0;}
#intro p a.tul{text-decoration: underline;display:block;}
.code-area .html-indent{text-indent:20px;}
.code-area .text-indent-1{text-indent:20px;}
.code-area .text-indent-2{text-indent:40px;}
.code-area .text-indent-3{text-indent:60px;}
.sb-submenu ul{margin-left:-10px;}
.sb-submenu .category-list .category-list-item a{display:inline;}
.sb-submenu .category-list{margin-left:-40px;}
.category-list-count:before{content:'(';}
.category-list-count:after{content:')';}

.sb-menu li a{padding:0 5px;}
.sb-right .sb-menu li a:hover{border-left:2px solid;}
a.aHref{text-decoration:underline;color:#337ab7;}
p img{width:100%;}
p img.img-w4{float:left;width:40%;padding:10px;}
#main-index{margin:5% 15%;padding:30px 0;position:relative;z-index:9;}
.zootopia,.blossom{float:left;width:100%;padding-left:250px;padding-top:0;}
section.works-show{margin-left:0;}
.profile{float:left;width:250px;padding:0 30px;margin-left:-100%;border-right:1px solid #666;}
p.line-en{margin:0;font-size:16px;}
p.line-cn{font-size:16px;}
.avatar{width:150px;height:150px;margin:0 auto;}
.avatar img{width:100%;height:100%;border-radius:50%;border:2px solid #666;padding:2px;}
.nick{text-align: center;font-size:18px;padding:10px;}
.motto{padding:10px;}
.content-index ul{padding:0;width:100%;margin:10px auto;}
.profile .nav{text-align: center;margin:10px 0;}
.profile .nav>div{display:inline-block;padding:0 8px;height:20px;line-height:20px;}
.profile .nav .tech{border-right:1px solid #666;}
.profile .nav a{text-decoration:underline;}
.relLink{text-align: center;}
.relLink a{font-size:12px;text-decoration: none;}
.relLink a:hover{text-decoration: underline;}
.git-icon{display:inline-block;width:15px;height:15px;margin-right:5px;vertical-align:middle;background:url("../../img/github.png") no-repeat;background-size:100%;}
.blossom-poem{ }
.blossom-tree{position:fixed;bottom:0;width:1000px;height:700px;}
#canvasGL{width:100%;height:100%;}